html,
body {
  margin: 0;
}

body {
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  color: #555;
  font: 400 16px/1.667 "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  position: relative;
  padding-bottom: 80px;
}

a {
  color: #6487f6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3.25em;
  font-weight: 200;
  line-height: 1.25455;
  margin: 0 auto 15px;
}

h3 {
  font-weight: 500;
}

h2 {
  font-size: 2.25em;
  font-weight: 200;
  line-height: 1.25455;
  margin-top: 0;
}

p {
  font-size: 1.125em;
  font-weight: 300;
  line-height: 1.66667;
  margin: 0 0 1em 0;
}

p b {
  font-weight: 500;
}

iframe {
  border: 0;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 900px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.container.container-sm {
  max-width: 700px;
}

.banner {
  -moz-box-sizing: border-box;
  -moz-transition: height 200ms ease;
  -webkit-box-sizing: border-box;
  -webkit-transition: height 200ms ease;
  box-sizing: border-box;
  height: 450px;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  transition: height 200ms ease;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social .fb_iframe_widget {
  line-height: 0;
}

.parallax {
  background-image: url(images/nyhavn.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  height: 400px;

}

@media screen and (min-width: 1800px) {
  section.banner,
  .parallax {
    height: 800px;
  }
}

@media screen and (max-width: 1799px) {
  section.banner,
  .parallax {
    height: 700px;
  }
}

@media screen and (max-width: 1600px) {
  section.banner,
  .parallax {
    height: 600px;
  }
}

@media screen and (max-width: 1200px) {
  section.banner,
  .parallax {
    height: 450px;
  }
}

@media screen and (max-width: 1024px) {
  section.banner,
  .parallax {
    height: 400px;
  }
}

@media screen and (max-width: 700px) {
  section.banner,
  .parallax {
    height: 300px;
  }
}

@media screen and (max-width: 500px) {
  section.banner,
  .parallax {
    height: 200px;
  }
}

header {
  height: 300%;
  height: 100vh;
  margin: 0 auto;
  padding: 70px 20px 0 20px;
  text-align: center;
  display: flex;
  align-items: center;

  position: relative;

}

header .text {
  max-width: 650px;  
  z-index: 2;
  position: relative;
  margin: 0 auto;
}

header .bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.15;

  background-image: url(images/cph.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    
}

header h1 {
  font-size: 70px;
}

header .arrow,
section .arrow {
  background-image: url(images/arrow.png);
  background-position: center;
  background-size: 100%;
  cursor: pointer;
  display: block;
  height: 15px;
  margin: 40px auto -20px;
  width: 29px;
}

section.section-alt {
  background: #f5f5f5;
}

section {
  padding: 40px 15px 30px;
  text-align: center;
}

ul.blocks {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 0;
}

ul.blocks li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

section.behind ul.blocks li {
  -moz-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

section.behind ul.blocks li img {
  -moz-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

section.behind {
  padding-bottom: 0;
}

section.behind ul.blocks {
  -moz-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  letter-spacing: 0;
  margin-top: 40px;
  word-spacing: 0;
}

section.behind ul.blocks li a {
  -moz-transition: all 220ms ease;
  -webkit-transition: all 220ms ease;
  transition: all 220ms ease;
  display: inline-block;
  letter-spacing: 0;
  word-spacing: 0;
}

section.behind ul.blocks li a:hover {
  -moz-transform: translate(0, -10px);
  -webkit-transform: translate(0, -10px);
  transform: translate(0, -10px);
}

section.behind ul.blocks li a img {
  -moz-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  display: block;

  margin: 0;
  width: 175px;
}

@media screen and (max-width: 621px) {
  section.behind ul.blocks li {
    display: block;
  }

}

section.help .newsletter form {
  display: inline-block;
  background: #FFF;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}

section.help .newsletter input[type=email] {
  display: inline-block;
  height: 40px;
  width: 250px;
  border: 0;
  padding: 0 10px;
  font-size: 16px;

}

section.help .newsletter input[type=submit] {
  background: #969dad;
  color: #fff;
  border: 0;
  -webkit-font-smoothing: antialiased;
  padding: .9em 1em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.anim-slide-in {
  -moz-animation-duration: .5s;
  -moz-animation-iteration-count: once;
  -moz-animation-name: slide-in;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: once;
  -webkit-animation-name: slide-in;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  animation-duration: .5s;
  animation-iteration-count: once;
  animation-name: slide-in;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.anim-slow,
.anim-slow {
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.anim-delay-1 {
  -moz-animation-delay: .25s;
  -webkit-animation-delay: .25s;
  animation-delay: .25s;
  opacity: 0;
}

.anim-delay-2 {
  -moz-animation-delay: .4s;
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
  opacity: 0;
}

.anim-delay-3 {
  -moz-animation-delay: .5s;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  opacity: 0;
}

.anim-delay-4 {
  -moz-animation-delay: .6s;
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
  opacity: 0;
}

.anim-delay-5 {
  -moz-animation-delay: .7s;
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
  opacity: 0;
}

.anim-delay-6 {
  -moz-animation-delay: .8s;
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
  opacity: 0;
}

.anim-delay-7 {
  -moz-animation-delay: .9s;
  -webkit-animation-delay: .9s;
  animation-delay: .9s;
  opacity: 0;
}

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translate(0, -40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(.6);
    opacity: 0;
  }

  50% {
    -webkit-transform: scale(.9);
    opacity: .6;
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    -moz-transform: translate(0, -40px);
    opacity: 0;
    transform: translate(0, -40px);
  }
  100% {
    -moz-transform: translate(0, 0);
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes pulsate {
  0% {
    -moz-transform: scale(.6);
    opacity: 0;
    transform: scale(.6);
  }

  50% {
    -moz-transform: scale(.9);
    opacity: .6;
    transform: scale(.9);
  }

  100% {
    -moz-transform: scale(1);
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.embed-container {
  margin: 35px auto 25px;
  max-height: 400px;
  max-width: 696px;
}

.embed-container > div {
  height: 0;
  padding-bottom: 52.25%;
  position: relative;
}

.embed-container iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
